<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kuzzle JS SDK</title>
    <script src="../dist/kuzzle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>
      Kuzzle JS SDK
    </h1>
    <div id="app">
      <div>
        <div>Document content:</div>
        <span v-if="document._source">
          {{ document._id }} - {{ document._source.message }}
        </span>
      </div>
      <div>
        <input id="documentMessage" type="text"/>
        <button onclick="modifyDocument()">Create Or replace</button>
      </div>
        <div>
          <div>List of documents</div>
        <li v-for="document in documents">
          {{ document._id }} - {{ document._source.message }}
        </li>
      </div>
    </div>
    <script type="application/javascript">
      (async function () {
        window.kuzzle = new KuzzleSDK.Kuzzle(new KuzzleSDK.WebSocket('localhost'))

        await window.kuzzle.connect()

        console.log(await kuzzle.server.now());

        const app = new Vue({
          el: '#app',
          async mounted () {
            const doc = await kuzzle.observe.get(
            'index',
            'collection',
            'document-1');

            doc.on('change', console.log);
            doc.on('delete', id => {
              console.log(id)
              this.document = {}
            })
            this.document = doc

            const result = await kuzzle.observe.search(
              'index',
              'collection');

            this.documents = result.hits
          },
          data: {
            document: {
              _source: {}
            },
            documents: []
          }
        })
      })();

      async function modifyDocument () {
        const message = document.getElementById('documentMessage').value

        await window.kuzzle.document.createOrReplace('index', 'collection', 'document-1', { message });
      }
    </script>
  </body>
</html>
