.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.messages {
    padding: 10px;
    margin: 10px;
    width: 45vw;
    border-radius: 10px;
}

.fromMe {
    text-align: right;
    float: right;
    margin-left: 49vw;
    background-color: rgb(0, 40, 53, 0.3);
    ;
}

.fromOthers {
    text-align: left;
    margin-right: 49vw;
    float: left;
    color: #EEEFFF;
    background-color: rgb(0, 40, 53, 0.9);
    ;
}

