# IDE
.idea

# Node
*.log
node_modules/
examples/node_modules/
.nyc_output

# Other
.DS_STORE
*#
*~

# Compiled files
coverage/

doc/framework
dead_links.json
getting-started/vuejs/cypress/screenshots/
getting-started/vuejs/cypress/videos/