# IDE
.idea

# Node
*.log
node_modules/
examples/node_modules/
.nyc_output

# Other
.DS_STORE
*#
*~

# Compiled files
coverage/

doc/framework
dead_links.json
doc/6/getting-started/vuejs/without-vuex/snippets/*.snippets
getting-started/vuejs/cypress/screenshots/
getting-started/vuejs/cypress/videos/