# IDE
.idea

# Node
*.log
node_modules/
.nyc_output

# Other
.DS_STORE
*#
*~

# Compiled files
coverage/

doc/framework
dead_links.json

# Cypress debug
doc/7/getting-started/.react/cypress/screenshots
doc/7/getting-started/.react/cypress/videos
doc/7/getting-started/.vuejs/cypress/screenshots
doc/7/getting-started/.vuejs/cypress/videos

# Debug snippets
test-*.js

# Typescript related files
*.d.ts
*.js.map
index.js
src/Kuzzle.js
src/KuzzleError.js
src/controllers/Auth.js
src/controllers/Document.js
src/controllers/Index.js
src/controllers/Collection.js
src/controllers/Base.js
src/controllers/Realtime.js
src/core/security/User.js
src/core/security/Profile.js
src/core/security/Role.js
src/protocols/abstract/Base.js
src/protocols/abstract/Realtime.js
src/protocols/Http.js
src/protocols/WebSocket.js
src/protocols/index.js
src/types/*.js
src/core/KuzzleEventEmitter.js
src/core/searchResult/SearchResultBase.js
src/core/searchResult/Document.js
src/core/searchResult/Profile.js
src/core/searchResult/Role.js
src/core/searchResult/Specifications.js
src/core/searchResult/User.js
