sudo: false
language: node_js
node_js:
- 4.2.6
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
script:
- npm run build && npm test && cat ./coverage/lcov.info | ./node_modules/.bin/codecov
- chmod 755 ${TRAVIS_BUILD_DIR}/deploy.sh && sh -c "${TRAVIS_BUILD_DIR}/deploy.sh"
before_install:
- export CC="gcc-4.9" CXX="g++-4.9"
install:
- npm install
env:
  global:
    secure: J5FHR91BBBrVqS5QMl+ZC3Oi2UgyQpW5SlKhfCwXJU2rz8XHNWajT5hjihlNiE6SVuUDVNflCcJI7DRD7+hwCt+G0rL9UuLnkKuMGVuVc/vMAjYpjRoVgWHk4KSwN4qWYcbF0k9d5POelI36xFnuQM0ttb3kDi/8T1s26Vsqw2Db1YDoK94ZkqO633gwwmr9RX05+sLXIuKai1bfIjUGU3YTusY0hDVw78Sg+/o1qCHNVwLDutpae/wLypO1/hujgh8SjIkAQBa/yp1gT2W+ykIaApk8eZn630usVttdToDgh2Z5+RLcgHOMi/p2/NvB/XKDq+sYh55tuKtdzu6MNx1vEVolcfiPkI0yPzwAs1IgTxAtGpKVkRlIZNMyksAQBikLqI6iFJHqYcPDHo+R+IwrXXSwZL/gbcfAtLiYWx1JnZHL8KfFz5KvRtINA4iEopzTQrOPJibFYNMWMyybvx7cHe4SAbtZxKq6cCt3fUzvwzfTIQ8m5k6y+w/bOiYY/HV8zvNw5bCS1N6h/6u8mmZMw3wv9N9eQz+h2BKwSziWt27CXcUKl6HhHklR7zj3/b7HwKW1o7Y0cixTl8kUBC8k+093Mhg4FmJWEAacfXVzRDs5nEejronmNUTi8hnpsSBeNMQnuD99zQp+eIi5PjfZ9DsCCM85cYb/LG1HyLs=
deploy:
  provider: npm
  skip_cleanup: true
  email: support@kuzzle.io
  api_key:
    secure: DqPwRO+LYFFOgIdZ23Prhw14f1ycsOcOXZsl7tMi4kznwu1PTkWgW+rFyCMoTeV/BxexvzMjAneSqO0plvbZyKOMzNtNCGPUjD49zzdpgkMo4Gc+fwb9AgbqUj3rRROX+106KJsoSRuTzOeuK+Ar7NJNBH1xX+zKkNHd+FaJiPFGwKTcEOguf0ger04NyZUVpzs4YPJDlZdXjXQEdh9EhnvLSUkPXD6cbPuSCMKoOuuUZIWXA3rwOMdId6dLp63NAv0SxCqiCGO82BfRj1pbn3ocqgorGSTI2l4aSHF5IU9WPH/j1WnaLJVgqCbXyALWE7qXwiPc2/IEmQLe4JnkUjY5RLPNppJk1g5lGoM8Wd/21EsGb4jYuLJlTjHhe2qHY2Xki3r0WoZyLzGYlHMNAZaSBDckMssG3LjSWQSqCwKZM4DypdQ16ROALYQELKL/MSQQS+vD+/hgCf8JDIytnEZyHzllbwhBxctWp4UYbjcsS5dh/YJFbNl6Vgf8i9S+RnqxlV96pyHX881vz9ZskpHvMEwgENDNZqGRUzeyM058VlqspL9mq6VbbTiRNneupQAEyeyZ0oadNhy7dG0oOABVAcwpGGDBWXSd3OYGPcWrbTKpiGbH/NAlsC8sXLtA74mGvupkxXSFJRf75KC8bYZrpb6Q6eLGFHB480lomXw=
  on:
    repo: kuzzleio/sdk-javascript
    branch: master
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/8e145155fbaaf37cffea
    on_success: change
    on_failure: always
    on_start: never
  email: false
  slack:
    secure: m0BEda/eXxYkil0zDZ1uNpK13kiNbb5/80I5OqDBz6X7/WH3uhWIV6q38lI929tQKz04eHAfVDaRSoPk1XwZBnb70MgcRmSG/m4/moR7BCnx7D9hHFqhNf0EfdzwEg44dCCVtD2vUvChtYV+jK74sNd4yqeq86YXi33qS7SYLS6kYnRloX0D7sQXDy14FWU2a5+hsrPX8yBoWuPjBergvK6W1dZAG+SfDywaqsrUDs+q64yEHiYV9VlvVZ/oKXZiDnVcB2hi0uulIZ8+iZaMJFEU30uCQiK6w3HG587yx3sVJmprr64ZYHKaFJD2ZAG1td6wJ1ccJsU/ruGkj4+0CeoZUYYBYXYQ4qhQl8F2QT0m+8dWqPwzYpxEoqyvGS9ioZG/YI18V2CE1pEyc72JzEv6c3AgDbtwrLH5s3ViNts7kulk3wwCzuAww+DapSV9ggezo+Bs7OGRpXwh/saeKWUCLqTkLQTjuq2dFVdo85HsC2RrLcSsZLMTOuV/A//FNBDJBlNnuneGP84zGkWGPEja0FFXvm2TS95gh1hd2PMe+QxjygOAvIMLmDmfdlWSLayUeWbqp20EdF7TUHV0dvBucga8s3UvFhIMnnGLS9vcNEIRtVornXznwdYSLbYD0mLXNtitneXTnSAxilThKtGDPOWQFkYkyoFV9FEwKO8=
    on_success: never
    on_failure: always
    on_start: never
