sudo: true

env:
  global:
    - AWS_ACCESS_KEY_ID=AKIAIYAXFUAHXOWP2MJA
    # AWS_SECRET_ACCESS_KEY
    - secure: "HU48VGBdv/GyVAm6g8eiA3DbKoAPL98AeORbF7UhKLQenxmQRGb1gfdMPNLdop35+95SlxcFC9ogoHcqLBSPLLcTSX57faWpNacD/7j69Z03avgdmfaFOGMOwGd5tOdq4pYmis34xyGJW1kpwAl2U6jp/pcBXABDnCLfRS5kJUsXvrwdE75UACoXQ1tXEtqq9y5LcFo/dGYrhuVvqYQmAUA+ExrfXaIKtUSf2tN5CvYL0cSxLyoQlnbbIQvouyNRyfuGFqNHc3jyBOc/nZWHS0ES91+6ddwZs/i9Fs98TfB3JS9x+gKYWrhDmxek/fOy22+qYUHQ81txk4SQ3GILWiWTfWOTdsBU+Y0FYnC5syLAqpdIstBhmMUUS8NWs5HdYmBv4q0zkTiwBGL/wrLwXkAcLLKUNOrUeMAL1fjQuVRC3hzql15s/A2LwPOR6xwyCu1mH8GKogYulGVWOEHQuk8bC3MaKgDr/4ZoUlCC9Q+mYP/WT+t/NA/0OQIvZVhVVilXk1MTbQMkvrBSuiuxACsyFGVNrkLaC8x2Pjyd2kgZaIv4c2JiiWfvW5IZd7xeyLLKESOfHP8rIf60jmvE7hxD9Yje7JXjo0uvnpEGx2PuMSq5zeUynoLaa8AIMAJ9an3fgdfKKcZ/XPOCAgpmxnKH+leAQx86qwxdAAIkgPY="

jobs:
  include:
    - stage: Tests
      name: Unit Tests
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable|beta)$/ OR type = cron
      language: node_js
      node_js: 10

      env:
        # Codecov token
        secure: ATb4QFGG6sPkfquAoye6BeN7u4uQ4abP8qatVK8XG3Qof+pECZwRkFPVoopO1Gb/4bQSPfapc1aGPzGuKi409v633vpDnpcgM7cHX9CPT+YQYcTePMFtq/m+5YY3WIYWM1zCFmJ+bBwQO/MtsubfGfA9EmSAAxtnJV+1JDD3Y6+NQRkQN7K+gxQozec0u1W0Oe1sJXLSKlW3JPL8iRtKcLvmIDysKtBK6X/Wg1qP2Me4reb449a0yGej3QvZDbDYJbdlh7vuFLjXJAz3yExfED8QAm8wf0p9F8emILHnkLxjumTTnGUUqDJLLu8WgkahFiyFo4jMtryhNQ0+p6WhXmEbpNIO+yMGSZPsCGbnpkhWJ1aMAT6ZhgpHf4jDZQd4ZJi02+n9tOpe+Lm2Jk2LXY8SwMk3xGtqm5sk03weTc019TUGj/NLoHNjO/vfNz3xOImD5Gck3bXWNxdrX3bjiyVsr/u77enoWu9drPCEl3JOTIwVP3mTF8R3axSFOQ8M4SI1orCMChkGMB5qExl+Gfx+MHa/jL7QKO1SFRgl1O3DbhsyFE6xiabYzwLcdbI50ypy6VJjmDd5RxK7BkDa8RumlHT1uY1FK9yRXu4XFrrw9FjF2s+xjWbliRZqXRReXk0W1Hz4zj5au3Y9YH5a/UPtB72TY+AUUWHTUPQl3SU=

      addons:
        apt:
          update: true
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-4.9
            - g++-4.9

      before_install:
        - export CC="gcc-4.9" CXX="g++-4.9"

      install:
        - npm install
        - npm run build

      script:
        - npm run test:lint
        - npm run test:unit

      after_success:
        - cat ./coverage/lcov.info | ./node_modules/.bin/codecov

    - stage: Tests
      name: Integration Tests
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable|beta)$/ OR type = cron
      language: node_js
      node_js: 10

      addons:
        apt:
          update: true
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-4.9
            - g++-4.9

      before_install:
        - export CC="gcc-4.9" CXX="g++-4.9"
        - sudo sysctl -w vm.max_map_count=262144
        - "./.ci/start_kuzzle.sh"

      install:
        - npm install
        - npm run build

      script:
        - npm run test:functional

    - stage: Tests
      name: Documentation Tests
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable|beta)$/ OR type = cron
      language: node_js
      node_js: 10

      before_script:
        - sudo apt-get install libgconf-2-4
        - npm install
        - npm run build
      script:
        - travis_retry npm run doc-testing

    - stage: Tests
      name: Admin Console Tests
      if: type = pull_request AND branch =~ /^7-dev|master$/
      language: node_js
      node_js: 12
      script: |
        if [ $TRAVIS_BRANCH = "master" ];
        then
          sudo sysctl -w vm.max_map_count=262144
          ./.ci/start_kuzzle_v2.sh
          npm ci
          git clone -b 4-dev https://github.com/kuzzleio/kuzzle-admin-console /tmp/admin-console
          cd /tmp/admin-console
          npm ci
          npm install kuzzle-sdk-v7@$TRAVIS_BUILD_DIR
          cd test/e2e/run-test && npm ci && cd -
          CYPRESS_RETRIES=5 npm run test:e2e
        fi

    - stage: Tests
      name: Admin Console Tests
      if: type = pull_request AND branch =~ /^6-(dev|stable)$/
      language: node_js
      node_js: 10
      script:
        if [ $TRAVIS_BRANCH = "6-stable" ];
        then
          sudo sysctl -w vm.max_map_count=262144
          ./.ci/start_kuzzle_v1.sh
          npm install
          git clone -b 4-dev https://github.com/kuzzleio/kuzzle-admin-console /tmp/admin-console
          cd /tmp/admin-console
          npm ci
          npm install kuzzle-sdk-v6@$TRAVIS_BUILD_DIR
          cd test/e2e/run-test && npm ci && cd -
          CYPRESS_RETRIES=5 npm run test:e2e
        fi

    - stage: Tests
      name: Dead link check
      language: node_js
      node_js: 12
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable|beta)$/ OR type = cron

      before_script:
        - npm ci
        - npm run doc-prepare
        - $(npm bin)/kuzdoc iterate-repos:install --repos_path doc/framework/.repos/
        - $(npm bin)/kuzdoc framework:link -d /sdk/js/7/ -v 7
      script:
        - gem install typhoeus
        - cd doc/framework/ && HYDRA_MAX_CONCURRENCY=20 travis_retry ruby .ci/dead-links.rb -p src/sdk/js/7/

    - stage: Deployment Doc Dev
      name: Deploy next-docs.kuzzle.io
      if: type = push AND branch =~ /^[0-9]+-dev$/
      language: node_js
      node_js: 10
      env:
        - BRANCH=dev
        - NODE_ENV=production
        - NODE_OPTIONS="--max_old_space_size=4096"
        - S3_BUCKET=docs-next.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E2ZCCEK9GRB49U
        - AWS_DEFAULT_REGION=us-west-2

      addons:
        apt:
          update: true
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user
        - npm install --production=false

      script:
        - npm run doc-prepare
        - npm run doc-build

      deploy:
        provider: script
        script:
          - npm run doc-upload
        skip_cleanup: true
        on:
          all_branches: true

      after_deploy:
        - npm run doc-cloudfront

    - stage: Deployment Doc Prod
      name: Deploy docs.kuzzle.io
      if: type = push AND branch =~ /^master|[0-9]+-stable$/
      language: node_js
      node_js: 10
      env:
        - NODE_ENV=production
        - NODE_OPTIONS="--max_old_space_size=4096"
        - S3_BUCKET=docs.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E3D6RP0POLCJMM
        - AWS_DEFAULT_REGION=us-west-2

      addons:
        apt:
          update: true
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user
        - npm install --production=false

      script:
        - npm run doc-prepare
        - npm run doc-build

      deploy:
        provider: script
        script:
          - npm run doc-upload
        skip_cleanup: true
        on:
          all_branches: true

      after_deploy:
        - npm run doc-cloudfront

    - stage: Deploy latest release on NPM
      if: type = push AND branch = master
      sudo: false
      language: node_js
      node_js: 10

      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-4.9
            - g++-4.9

      before_install:
        - export CC="gcc-4.9" CXX="g++-4.9"

      install:
        - npm install

      script:
        - npm run build

      deploy:
        provider: npm
        skip_cleanup: true
        email: support@kuzzle.io
        tag: latest
        api_key:
          secure: "oZG8eiOGQxH5sEvTI6sNcSL8+RnE/qOs1TMOn1eB0GvRB/pQ9Oylzunjntp7WzHpEm23+3Cfj898sgQ6uNBeKm/bEYOxN+kYbzpY0kSiwaW+dDneFzVIa+r1dF8+/oCvH720VIu+92KYK/8+A6jJGlevMezL+w5ggD6I2j0i+QBPyplvh5qjyd7OayGPCPUq22Om9U9QPux4FFYmpX6TDn/l0iVYat0T8B5+tyUKjsY7XV/Ad4ob8y52kQ1gmxtK09FXkR8im5sEmEaC3QWKQKqWc0XpZ7wwgw/cojVShQvEp25ZgVNxG0cPynIbIu0Y3yCO3c0WVq1QpmMx41ekMb61kBjQ4UYmSKcHODMt3MdP6VgFJOlAVCrP5KgIwAro2vqM+vSWEI8kNMBi/Zivve8hp4TQEAuhHjl9naQnrsoKsw9+CMatMVbDS56O+fmy8H0fnDtvW8SyZThjzhTK2Cee8KbbRF65LlXU9OpR6XOkfsTEseyVlaGm5C+engXl/YKnH8SNgzZNjE45ptYldOhKGlYrMqBv/Nivljsl3K9+yyLrTOE3qG5TxwEOPGoIOBjGGfvur91yP5pZnmefSMnryPEPlAQEzIBh21vqXvG+wYZh6U6YUPKDN3aZgBt4fjLWfcQbBZF95JixG/5CBOEExdrMfVJIbpoVeljcITw="
        on:
          repo: kuzzleio/sdk-javascript
          all_branches: true

    - stage: Deploy Stable release on NPM
      if: type = push AND branch =~ /^[0-9]+-stable$/
      sudo: false
      language: node_js
      node_js: 10

      addons:
        apt:
          update: true
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-4.9
            - g++-4.9

      before_install:
        - export CC="gcc-4.9" CXX="g++-4.9"

      install:
        - npm install

      script:
        - npm run build

      deploy:
        provider: npm
        skip_cleanup: true
        email: support@kuzzle.io
        api_key:
          secure: "oZG8eiOGQxH5sEvTI6sNcSL8+RnE/qOs1TMOn1eB0GvRB/pQ9Oylzunjntp7WzHpEm23+3Cfj898sgQ6uNBeKm/bEYOxN+kYbzpY0kSiwaW+dDneFzVIa+r1dF8+/oCvH720VIu+92KYK/8+A6jJGlevMezL+w5ggD6I2j0i+QBPyplvh5qjyd7OayGPCPUq22Om9U9QPux4FFYmpX6TDn/l0iVYat0T8B5+tyUKjsY7XV/Ad4ob8y52kQ1gmxtK09FXkR8im5sEmEaC3QWKQKqWc0XpZ7wwgw/cojVShQvEp25ZgVNxG0cPynIbIu0Y3yCO3c0WVq1QpmMx41ekMb61kBjQ4UYmSKcHODMt3MdP6VgFJOlAVCrP5KgIwAro2vqM+vSWEI8kNMBi/Zivve8hp4TQEAuhHjl9naQnrsoKsw9+CMatMVbDS56O+fmy8H0fnDtvW8SyZThjzhTK2Cee8KbbRF65LlXU9OpR6XOkfsTEseyVlaGm5C+engXl/YKnH8SNgzZNjE45ptYldOhKGlYrMqBv/Nivljsl3K9+yyLrTOE3qG5TxwEOPGoIOBjGGfvur91yP5pZnmefSMnryPEPlAQEzIBh21vqXvG+wYZh6U6YUPKDN3aZgBt4fjLWfcQbBZF95JixG/5CBOEExdrMfVJIbpoVeljcITw="
        on:
          repo: kuzzleio/sdk-javascript
          all_branches: true

    - stage: Deploy Beta release on NPM
      if: type = push AND branch =~ /^[0-9]+-beta$/
      sudo: false
      language: node_js
      node_js: 10

      addons:
        apt:
          update: true
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-4.9
            - g++-4.9

      before_install:
        - export CC="gcc-4.9" CXX="g++-4.9"

      install:
        - npm install

      script:
        - npm run build

      deploy:
        - provider: npm
          skip_cleanup: true
          email: support@kuzzle.io
          tag: beta
          api_key:
            secure: "oZG8eiOGQxH5sEvTI6sNcSL8+RnE/qOs1TMOn1eB0GvRB/pQ9Oylzunjntp7WzHpEm23+3Cfj898sgQ6uNBeKm/bEYOxN+kYbzpY0kSiwaW+dDneFzVIa+r1dF8+/oCvH720VIu+92KYK/8+A6jJGlevMezL+w5ggD6I2j0i+QBPyplvh5qjyd7OayGPCPUq22Om9U9QPux4FFYmpX6TDn/l0iVYat0T8B5+tyUKjsY7XV/Ad4ob8y52kQ1gmxtK09FXkR8im5sEmEaC3QWKQKqWc0XpZ7wwgw/cojVShQvEp25ZgVNxG0cPynIbIu0Y3yCO3c0WVq1QpmMx41ekMb61kBjQ4UYmSKcHODMt3MdP6VgFJOlAVCrP5KgIwAro2vqM+vSWEI8kNMBi/Zivve8hp4TQEAuhHjl9naQnrsoKsw9+CMatMVbDS56O+fmy8H0fnDtvW8SyZThjzhTK2Cee8KbbRF65LlXU9OpR6XOkfsTEseyVlaGm5C+engXl/YKnH8SNgzZNjE45ptYldOhKGlYrMqBv/Nivljsl3K9+yyLrTOE3qG5TxwEOPGoIOBjGGfvur91yP5pZnmefSMnryPEPlAQEzIBh21vqXvG+wYZh6U6YUPKDN3aZgBt4fjLWfcQbBZF95JixG/5CBOEExdrMfVJIbpoVeljcITw="
          on:
            repo: kuzzleio/sdk-javascript
            all_branches: true
