services:
  kuzzle:
    image: kuzzleio/kuzzle:2
    ports:
      - "7512:7512"
    cap_add:
      - SYS_PTRACE
    depends_on:
      - redis
      - elasticsearch
    environment:
      - kuzzle_services__storageEngine__client__node=http://elasticsearch:9200
      - kuzzle_services__internalCache__node__host=redis
      - kuzzle_services__memoryStorage__node__host=redis
      - kuzzle_services__storageEngine__commonMapping__dynamic=true
      - kuzzle_services__storageEngine__internalIndex__collections__users__dynamic=true
      - NODE_ENV=development

  redis:
    image: redis:5

  elasticsearch:
    image: kuzzleio/elasticsearch:7
    ulimits:
      nofile: 65536

  doc-tests:
    image: kuzzleio/snippets-tests
    privileged: true
    ports:
      - "9229:9229"
    depends_on:
      - kuzzle
      - doc-runner-node
      - doc-runner-web
    volumes:
      - ../..:/mnt
      - /var/run/docker.sock:/var/run/docker.sock
      - snippets:/var/snippets
    environment:
      - CONFIG_FILE=/mnt/.ci/doc/config.yml

  doc-runner-node:
    image: node:20-alpine
    command: >
      ash -c '
        mkdir -p /var/snippets/node;
        apk add --no-cache curl;
        cd /var/snippets/node;
        npm install \
          bluebird \
          /mnt/ \
          eslint@8.38.0 \
          eslint-plugin-html \
          eslint-plugin-import \
          eslint-plugin-node \
          eslint-plugin-promise \
          eslint-plugin-standard;
        touch /tmp/runner_ready_to_lint;
        touch /tmp/runner_is_ready;
        tail -f /dev/null
      '
    volumes:
      - ../..:/mnt
      - snippets:/var/snippets

  doc-runner-web:
    build: .
    volumes:
      - ../..:/mnt
      - snippets:/var/snippets
    working_dir: /var/snippets/web
    command: >
      bash -c '
        cp /mnt/.ci/doc/puppeteer.js /var/snippets/web/;
        npm install /mnt/;
        cp -fr /usr/local/lib/node_modules/* /var/snippets/web/node_modules;
        touch /home/node/runner_ready_to_lint;
        touch /home/node/runner_is_ready;
        tail -f /dev/null
      '

volumes:
  snippets:
